html{
    font-size: 100%;
    background-color: black;
    

}
@font-face {
    font-family: vazir;
    src: url(./vazir-font-v16.1.0/Vazir.woff2);
}
body{
    font-family: vazir;
    
    
}
.gamebox{
    height: 700px;
    width: 1000px;
    background-color: #1f1b1b;
    margin-top: 1.5rem;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    
}
.panel{
    height: 700px;
    width: 300px;
    background-color: #a3b18a;
    margin-top: 1.5rem;
    border-radius: 4px;
    position:relative ;
    display: flex;
    justify-content: center;

    
}

.all{
    display: flex;
    justify-content: center;
}
.btn-start{
     position: absolute;
    top: 203px;
    background-color: #45ca4e;
    border-radius: 3px;
    height: 40px;
  width: 100px;
  font-family: vazir;
}
.btn-end{
    position: absolute;
    top: 242px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    background-color: #cb2e2e;
    margin-top: 1.2rem;
    font-family: vazir;
}
.lives{
    position: absolute;
    top: 130px;
    right: 162px;
    
}
.score{    
    position: absolute;
    top: 98px;
    right: 162px;
    direction: rtl;
}

.heart{
    width: 60px;
    position: absolute;
    top: 110px;
    right: 165px;
}
.shape{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.circle{
    border-radius: 50%;
    border: #1f1b1b solid 2px;   

}
.square{

    border-color: black;
   
}
.rectangle{
    width: 100px;
    border: #cb2e2e 3px solid   ;
}
.box{
    background-color: #cb2e2e;
    height: 200px;
    width: 200px;
    border-radius: 5px;  
    display: flex;
    justify-content: center;
    align-items:center ;
    position: absolute;
    right: 500px;
    top: 300px;
  
 
}
.text{
font-size: 20px;
color: black;


}
#close{
    background-color: #33da09;
    width: 70px;
  align-self: flex-end;
  margin-bottom: 50px;
}
.hidden{
    display: none;
}
/* #list{
    background-color: #33da09;
} */
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
