
<div class="w-full h-full flex justify-center items-center" >
<form class="flex justify-center items-center  flex-col p-7 text-white shadow-lg rounded-lg h-80 shadow-amber-50 " >
    <label for="name" class="m-2 ">name:</label><input class="rounded-lg p-1 text-black  " required type="text" name="name" [(ngModel)]="form.username" #nameref="ngModel">
    
    @if (nameref.touched && nameref.invalid) {
        <small class="text-red-600 mt-2">this feild is required</small>
    }
  
    <label for="password" class="m-2 ">password:</label><input class="rounded-lg p-1 text-black " required type="password" name="password" [(ngModel)]="form.password">


     @if (wrongpas) {
        <small class="text-red-600 mt-2" >your name or password is wrong</small>
    }
    <input class="p-2 rounded-lg mt-4 bg-green-500! cursor-pointer" type="submit"(click)="submit()" >

</form>
</div>

