
<div class=" ">
    
    <header class=" border-b border-neutral-900 
">
<nav class="bg-black text-gray-500 h-15 flex justify-center items-center ">

    <ul class="flex mx-auto items-center gap-4">
        <li class=" hover:text-white hover:bg-gray-900  text-center hover:rounded-lg  inline-block px-4 py-1 items-center">product</li>
        <li class=" hover:text-white hover:bg-gray-900  text-center hover:rounded-lg  inline-block px-4 py-1 items-center">resources</li>
        <li class=" hover:text-white hover:bg-gray-900  text-center hover:rounded-lg  inline-block px-4 py-1 items-center">pricing</li>
        <li class=" hover:text-white hover:bg-gray-900  text-center hover:rounded-lg  inline-block   px-4 py-1 items-center"><a >customers</a></li>
        <li class=" hover:text-white hover:bg-gray-900  text-center hover:rounded-lg  inline-block px-4 py-1 items-center">now</li>
        <li class=" hover:text-white hover:bg-gray-900  text-center hover:rounded-lg  inline-block px-4 py-1 items-center" >contact</li>

    </ul>
        <div class="flex justify-center mr-5 ">   
         <button class="bg-white hover:bg-amber-50 text-black h-7 w-18 rounded-lg ">sign up</button>
    <button class="w-18 h-7 hover:text-white hover:bg-gray-900 hover:w-18 hover:h-7 text-center hover:rounded-lg ">login</button></div>

</nav>

</header>
<section class="h-full">

        <section class="flex justify-center pt-24 ">
<h1 class="text-5xl w-[50%]">Linear is a purpose-built tool for planning and building products</h1>
</section>
<form #f="ngForm">
<div class="flex  items-center mt-20 flex-col">
    <input class="bg-white rounded-lg text-black" [(ngModel)]="item" type="text" name="item" required placeholder="enter new task..." >
@if (f.invalid&&f.touched) {
    <p  class="text-red-700">filled is empty</p>
}
<button (click)="addlist(item)  " (click)="f.reset()" class=" hover:text-white hover:bg-gray-900  text-center hover:rounded-lg  inline-block px-4 py-1 items-center" [disabled]="f.invalid" name="add">add</button>

</div>
</form>
<ul class="flex flex-col justify-center items-center">
    @for (item of list; track $index) {
        <li class="bg-gray-900 w-[20%] m-2 p-4 rounded-lg flex justify-between items-center relative">{{item}} <span class=" bg-red-600 text-white rounded-lg p-2" (click)="remove($index)">remove</span></li>
    }
</ul>
<button (click)="change()">change</button>
<p class="">{{value}}</p>
<ul>
    @for (square of squares; track $index) {
        <li (click)="removeshape($index)" class="bg-amber-300 w-10 h-10 block">{{square}}</li>
    }

</ul>

<button (click)="g(square)">generate</button>
<button (click)="click.next()">toomany</button>
</section>


</div>




